@{
    ViewData["Title"] = "Add file  page";
}
@using ForMyPhpApplict_site_application.Model;
@using ForMyPhpApplict_site_application.Data;

<body>
    @{ 
        DirectoryModel directoryModel = ServerDirectories.GetDirectory((string)ViewData["dir_name"]);
        <header>
            <div>
                <h3>@directoryModel.safename</h3>
                <form asp-controller="Admin" asp-action="SetDirectory" method="get">
                    <input type="hidden" name="dir_name" value="@directoryModel.root_dir" />
                    <button type="submit" class="btn btn-primary">Вернутся в вышестоящею папку</button>
                </form>
            </div>
            <div>
                <form asp-controller="Admin" asp-action="AddDirectory" method="post">
                    <input type="hidden" name="dir_name" value="@directoryModel.name" />
                    <label>Название папки:</label>
                    <input type="text" name="new_dir" />
                    <button type="submit" >Создать папку</button>
                    </form>
</div>
        </header>
        <main>
            <form asp-controller="Admin" enctype="multipart/form-data" method="post" asp-action="LoadFiles">
                <label for="f_r" class="form-control-file">load files</label>
                <input type="hidden" name="dir" value="@directoryModel.name" />
                <input type="file" class="form-control-file" multiple id="f_r" name="files" />
                <button type="submit" class="form-control btn btn-info">Отправить</button>

            </form>
            <div class="container">
                <div class="row align-items-center">
                    @for(int i = 0; i < directoryModel.safe_directory_name.Length; i++)
                    {
                       <div class="col">


                           <form asp-controller="Admin" asp-action="SetDirectory" method="get">
                              <input type="hidden" name="dir_name" value="@directoryModel.directories[i]" />
                              <button type="submit">
                                <img src="~/icons/Folder.png" />
                                <h5>@directoryModel.safe_directory_name[i]</h5>
                              </button>
                           </form>
                       </div>
                    }
                    @for(int i = 0; i < directoryModel.files.Length; i++)
                    {
                        <div class="col">
                            <div>
                                <img src="~/icons/File.png" />
                            </div>
                            <div>
                                <label>@directoryModel.safe_file_names[i]</label>
                            </div>
                            <div>
                                <form asp-controller="Admin" asp-action="DeleteFile" method="post">
                                    <input type="hidden" name="fname" value="@directoryModel.files[i]" />
                                    <input type="hidden" name="dir_name" value="@directoryModel.name" />
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </main>
     

    }
</body>
<div>
    <form asp-controller="Admin" method="post" asp-action="GetBackup">
        <button type="submit">Скачать резервную копию</button>
    </form>
</div>